
  #carouselExample img {
    height: 400px;     /* Set the height you want */
    object-fit: cover; /* Keeps aspect ratio and fills the container */
  }
 .card-img-top {
    height: 250px;
    object-fit: cover;
  }
